@media (min-width: 40rem) {
    ul {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }

    ul::before {
        grid-column: 2;
    }

    ul li:nth-child(odd) {
        grid-column: 1;
    }

    ul li:nth-child(even) {
        grid-column: 3;
    }

    /* start second card */
    ul li:nth-child(2) {
        grid-row: 2/4;
    }

    ul li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }

    ul li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    ul li:nth-child(odd) .date {
        border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
}

@media (max-width: 768px) {

    :root {
        font-size: 6px;
    }

    main {
        width: 90vw;
        padding: 10px;
    }

    .side-menu {
        width: 5vw;
    }

    header {
        width: 90%;
        left: 7vw;
        background-color: lightcyan;
    }

    nav ul li a {
        font-size: 2.5rem;
        color: black;
    }

    section {
        min-height: 0;
    }

    #home h1 {
        font-size: 4rem;
    }

    .button {
        font-size: 2rem;
        width: 15rem;
        height: 3.5rem;
        padding: 0 0.5rem;
    }

    .portfolio:nth-child(even) {
        flex-direction: column;
    }

    .portfolio:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .hide {
        display: none;
    }

    .image-container {
        width: 100%;
        height: fit-content;
        border: 5px solid #52708c;
        border-radius: 10px;
    }

    .card,
    .project {
        width: 80%;
        min-height: 0;
        height: auto;
    }

    .one-col,
    .two-col,
    .three-col,
    .four-col {
        width: 100%;
    }


    .skill-set img {
        width: 10%;
        height: auto;
        margin: 10px;
        margin-bottom: 0;
    }

    .image-container {
        margin-left: 0;
    }

    .personal-info {
        text-align: center;
        font-size: 2rem;
        color: black;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1.8rem;
    }

    footer {
        height: 70px;
        padding: 0 10px 0 10px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .icons {
        justify-content: center
    }

    footer>.three-col {
        align-items: center;
    }
}