.fancy-gradients {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fancy-gradients .gradient {
    width: 50%;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    text-transform: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fancy-gradients .gradient:nth-child(1) {
    background: linear-gradient(to right, #ffe98a, #d74177);
}

.fancy-gradients .gradient:nth-child(2) {
    background: linear-gradient(to right, #ea6e6e, #9375fe);
}